
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800&display=swap');
/* fonts used 
.montserrat-alternates-extralight {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .montserrat-alternates-light {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .montserrat-alternates-extrabold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  */
/* colors palette
grey #9eadb1
greenish-grey #64838a
base blue #a3d1db
green/blue #395e66
dark green/blue #142d33
*/


/* header desktop */

header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: linear-gradient(#395e66,#a3d1db);
      height: 5vw;

  #title_desktop{
      font-family: Arial, sans-serif;
      font-weight: 800;
      text-align: left;
      color: #142d33;
      text-decoration: none;
      font-size: 2vw;
      margin-left: 2vw;
      margin-right: 0px;
      
  }
  #title_mobile{
    display: none;
  }
  #nav_s{
      padding: 1vw;
      margin: 1.5vw;
      justify-content: start;

  }

  #nav_right{
      display: flex;
      align-items: center;
      gap: 1.5vw;
  }
  #nav_p{
    padding-left: 0.5vw;
    margin-left: 1vw;
  }
  #nav_c{
      margin-right: 2vw;
  }

  #nav_link{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }
  #nav_link > a {
    font-family: 'Montserrat Alternates',sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #142d33;
    text-decoration: none;
    margin: 1vw;
    font-size: 0.7vw;
    display: flex;
    align-items: center;

  }

  #menu_button{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 2vw;
  }

  #side_panel {
    display: none;
  }

  @media (max-width:850px){
    height: 8vw;
    #menu_button{
      display: block;
    }
    #title_desktop {
      display: none;
    }
    #title_mobile{
      display: block;
      font-family: Arial, sans-serif;
      font-weight: 800;
      text-align: left;
      color: #142d33;
      text-decoration: none;
      font-size: 5vw;
      text-align: center;
    }
    #nav_link {
      display: none; 
    }

    #nav_left{
      display: flex;
    }

    #nav_left, #nav_right {
      height: 10vw; 
      min-width: 30vw;
      justify-content:space-evenly;
      align-items: center;
    }
    #nav_left img, #nav_right img {
      width: 5vw;
      height: auto;
      margin-top: 2vw;      
    }
    #side_panel {
      position: fixed;
      top: 0;
      left: -60vw;
      width: 40vw;
      height: 200vw;
      background-color: #64838a;
      display: flex;
      flex-direction: column;
      padding: 3vw;
      gap: 7vw;
      transition: left 0.4s ease;
      z-index: 1000;

      button{
        border: none;
        background: none;
        text-align: left;
        img{
          width: 4vw;
        }
      }

      a{
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 800;
        font-style: normal;
        text-decoration: none;
        color: #142d33;
        font-size: 3vw;
        margin-top: 2vw;
      }
    }
    #side_panel.open {
      left: 0;
    }
  }
}



/*general */
body{
    background-color:#a3d1db ;
    margin: 0; /* so header fills pages */
    background-image: url("Icons & elements/background_icons.png");
    background-repeat: repeat;


  h1{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #142d33;
    font-size: 4vw;
  }
  h2,h3,h4,h5,p{
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: 600;
      font-style: normal;
      color: #142d33;
      font-size: 2vw;
  }

  /* larger linked product container <a> */
  .prod {
    aspect-ratio: 11 / 16;
    width: 20%; 
    display: flex; 
    display: block;
    justify-content: center;
    align-items: center;
    border: #395e66 solid 0.4vw;
    border-radius: 1vw;
    margin: 2vw;
    flex-shrink: 0;
    text-decoration: none; 
    transition: transform 0.5s, border-color 0.5s, background-color 0.5s;
  }

  .prod_hp {
    aspect-ratio: 11 / 16;
    width: 20%; 
    display: flex; 
    display: block;
    justify-content: center;
    align-items: center;
    border: #395e66 solid 0.4vw;
    border-radius: 1vw;
    margin: 1vw;
    flex-shrink: 0;
    text-decoration: none; 
    transition: transform 0.5s, border-color 0.5s, background-color 0.5s;
  }
  /*image within contianer */
  .prod img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:0.5vw;
    display: block;
  }
  .prod_hp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:0.5vw;
    display: block;
  }
  /*labels underneath container*/
  .prod_lab, .prod_lab_n, .prod_cat {
    background-color: #395e66;
    color: #9eadb1;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    padding: 0.4vw;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1vw;
    text-align: center;
    margin: 0;
    transition: transform 0.5s, border-color 0.5s, background-color 0.5s;
  }
  .prod_lab_n{
    font-size: 1.5vw;
  }
  .prod_cat{
    font-size: 0.8vw;
  }
  .prod:hover {
    border-color: #142d33;
    transform: scale(1.05);
    transition: 0.5s;
  }
  .prod_hp:hover{
    border-color: #142d33;
    transform: scale(1.05);
    transition: 0.5s;
  }
  .prod:hover .prod_lab, .prod:hover .prod_lab_n, .prod:hover .prod_cat {
    background-color: #142d33;
    transform: scale(1.02);
    transition: 0.5s;
  }
  .prod_hp:hover .prod_lab, .prod_hp:hover .prod_lab_n, .prod_hp:hover .prod_cat {
    background-color: #142d33;
    transform: scale(1.02);
    transition: 0.5s;
  }

  #border{
    border: #395e66 solid 1vw;
  }

  /*scroll bar*/
  .scroll::-webkit-scrollbar, #photos_list::-webkit-scrollbar{
    height: 0.8vw;
  }

  .scroll::-webkit-scrollbar-track, #photos_list::-webkit-scrollbar-track {
    background: #64838a;
    border-radius: 0.8vw; 
  }
  .scroll::-webkit-scrollbar-thumb, #photos_list::-webkit-scrollbar-thumb {
    background: #395e66; 
    border-radius: 1vw;
  }


  .scroll_button_l, .scroll_button_r,.scroll_button{
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
  }
  .scroll_button_l img, .scroll_button_r img, .scroll_button img{
    width: 1.3vw;
    height: auto;
  }
  .scroll_vp{
    overflow: hidden;
    width: 80vw;
  }
  .scroll_cont1{
    display: flex;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 2vw;
    padding: 1vw 0;
    margin-bottom: 7vw;
  }

  #border_light_H{
    border: #395e66 solid 0.25vw;
    width: 50vw;
    justify-self: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }


  #prod_list4x1{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

  /*button*/
  .primary_button{
    background-color: #142d33;
    color: #9eadb1;
    border: none;
    border-radius: 1vw;
    width: 17vw;
    height: 3.8vw;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2vw;
    margin: 1vw;
  }
  .primary_button:focus, .primary_button:hover {
    outline: none;
    border-color: #395e66;
    background-color: #142d33;
    box-shadow: 0 0 0 3px #395e6679;
    transition: 0.5s;
   }

  #sort{
    display: flex;
    align-items: center;
  }

  #sort_by_button, #size{
    background-color: #395e66;
    border: none;
    border-radius: 0.8vw;
    height: 2.8vw;
    width: 8vw;
    padding-left: 0.8vw;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #9eadb1;
    font-size: 1.4vw;
  }

  /*input*/
  input{
    background-color: #9eadb1;
    border: none;
    border-radius: 0.8vw;
    margin-top: 0.5vw;
    padding: 0.5vw;
    box-sizing: border-box;
    font-size: 1vw;
  }

  label{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #142d33;
    margin-left: 1.5vw;
  }

  #form_group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.2vw;
  }
  input:focus, input:hover {
    outline: none;
    border-color: #395e66;
    background-color: #9eadb1;
    box-shadow: 0 0 0 3px #395e6679;
    transition: 0.5s;
  }


}




#homepage{

  /*first section */
  #hp_first{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #hp_first > img{
    border: #395e66 solid 0.4vw;
    border-radius: 0.8vw;
    margin: 4vw;
    width: 20%;
    height: auto; 
  }

  #hp_first > #hp_im1{
    margin-top: 10vw;
  }
  #hp_first > #hp_im3{
    margin-top: 15vw;
  }

  #new_print{
    margin-left: 25vw;
    font-size: 4vw;
    margin-top: 0px;
  }
  #new_funky{
    margin-left: 48vw;
    margin-bottom: 3vw;
    font-size: 4vw;
  }
  /*second section */
  #L_I_T, #T_S{
    font-size: 4vw;
    margin-top: 5vw;
    text-align: center;
  }

 #LIT_items,#TS_items{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 2vw;
  padding: 1vw;

 }

 #T_S,#L_I_T{
  margin-top: 7vw;
 }

 #hp_cat_link{
  display: flex;
  justify-content: space-around;
  margin-bottom: 7vw;
 }

#category_hp{
  aspect-ratio: 1 / 1;
  width: 28%; 
  display: flex; 
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1vw;
  flex-shrink: 0;
  text-decoration: none; 

}
#category_hp img {
  border: #395e66 solid 0.4vw;
  border-radius: 0.8vw;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#box_link:hover{
  border-color: #142d33;
  transform: scale(1.05);
  transition: 0.5s;
}

}


#profilePage{
text-align: center;
  
  #page_title{
    font-size: 4.5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.8vw;
  }
  input{
    width: 40vw;
    height: 3vw;
    color: #142d33;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 10px;
  }
  input::placeholder{
    color: #142d33;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 10px;
  }

  #FP,#CA {
    text-decoration: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #142d33;
    padding: 1vw;
  }

  #profile_form{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
}

#cartPage{

  h1, h2{
    text-align: center;
  }
  h2{
    font-size: 2.5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  #checkout_buttons{
    position: relative;
  }
  #checkout_NA, #checkout_ok{
    border: none;
    border-radius: 1vw;
    width: 17vw;
    height: 3.8vw;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2vw;
    margin: 1vw;
    background-color: #64838a;
    color: #9eadb1;
    margin: 0 auto; 
    margin-bottom: 3vw;
    margin-top: 3vw;

  }
  #checkout_NA{
    display: block;
  }
  #checkout_ok{
    background-color:#142d33;
    display: none;
  }



  #most_bought{
    font-size: 1.8vw;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
}

#prod_listing_page{
  h1{
    text-align: center;
  }
  h3{
    font-size: 1.5vw;
    margin-left: 4vw;
    margin-right: 4vw;
  }

}

#checkout_page{
  h1{
    text-align: center;
  }

  h2{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5vw;
    text-align: center;
  }

  #detail_layout{
    display: flex;
    justify-content: space-evenly;
  }

  #border_vert{
    border: #395e66 solid 0.25vw;
    height: 18vw;
    justify-self: center;
    margin-top: 7vw;
    margin-bottom: 1vw;
  }

  #card_num, #card_name, #email_deets, #number_deets, #address{
    width: 33.5vw;
    height: 2.8vw;
  }

  #card_ex, #card_cvc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1vw;
  }

  #sub_input_row{
    display: flex;
    gap: 7vw;

  }
  #sub_input{
    display: flex;
    flex-direction: column;
  }
  
  #pay_button{
    display: flex;
    justify-self: center;
    margin-top: 2vw;
    text-decoration: none;
  }
}

#confirmation_page{
  text-align: center;

  h1,h2,p{
    margin: 3.8vw;
  }
}


.prod_pages{

  .prod_photo{

    width: 80%; 
    display: flex; 
    display: block;
    justify-content: center;
    align-items: center;
    border: #395e66 solid 0.4vw;
    border-radius: 1vw;
    margin: 3vw;
    flex-shrink: 0;
    margin-top: 0px;
    scroll-snap-align: center;
  }
  #photos_list{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1.8vw;
    padding: 10px;
    scroll-snap-type: x mandatory;
  }
  .scroll_vp_prod{
    overflow: hidden;
    width: 45vw;
    justify-self: center;
    scroll-snap-type: x mandatory;
  }
  #prod_pics{
    display: flex;
    justify-self: center;
  }

  #above_prod{
    display: flex;
    justify-content: space-between;
    margin: 2vw;
    margin-bottom: 0px;
    margin-top: 0px;
    h2{
      margin-top: 4vw;
    }
  }
  #below_prod{
    display: flex;
    align-items: center;
    margin-top: 3vw;
    margin-bottom: 3vw;

    .side{
      margin-left: 4vw;
    }

    .side_button{
      position: relative;
    }

    
    #add_to_cart{
      margin-right: 4vw;
      margin-left: auto;
      display: none;
    }
    #add_to_cart_disabled{
      margin-right: 4vw;
      margin-left: auto;
      background-color: #64838a;
      color: #9eadb1;
      border: none;
      border-radius: 1vw;
      width: 17vw;
      height: 3.8vw;
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 2vw;
      display: block;
    }
    #size{
      width: 6vw;
    }
    h3{
      font-size: 1.3vw;
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 400;
      font-style: normal;
      flex-grow: 1;
      text-align: center;
    }
    .side{
      width: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #review_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 70vw;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 5vw;
    padding-bottom: 3vw;
    
    #reviews{
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;  
      gap: 2vw; 
      width: 80%;  
      scroll-behavior: smooth; 
    }

    #review{
      width: 100%;
      flex-shrink: 0; 
      scroll-snap-align: center; 
    }
    #stars_section{
      text-align: center;
    }

    #star{
      width: 6%;
    }

    h3{
      font-size: 1.8vw;
      text-align: center;
    }
    p{
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.5vw;
      text-align: center;
      max-width: 60vw;
      padding: 2vw;
      padding-top: 0vw;
    }
  }

  #write_review{
    text-align: center;
    text-decoration: none;

    h3{
      margin-bottom: 5vw;
    }
  }
  
  .may_also_like{
    margin-bottom: 5vw;
    h2{
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 800;
      font-style: normal;
      text-align: center;
      margin: 5vw;
    }
    
  }
}