
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800&display=swap');
/* fonts used 
.montserrat-alternates-extralight {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .montserrat-alternates-light {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .montserrat-alternates-extrabold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  */
/* colors palette
grey #9eadb1
greenish-grey #64838a
base blue #a3d1db
green/blue #395e66
dark green/blue #142d33
*/


/* header desktop */

header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: linear-gradient(#395e66,#a3d1db);
      height: 70px;

  #title{
      font-family: Arial, sans-serif;
      font-weight: 800;
      text-align: left;
      color: #142d33;
      text-decoration: none;
      font-size: 25px;
      
  }

  #nav_s{
      padding: 10px;
      margin: 20px;
      justify-content: start;

  }
  #title{
    margin-left: 10px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
  }

  #nav_right{
      display: flex;
      align-items: center;
      gap: 20px;
  }
  #nav_p{
    padding-left: 10px;
    margin-left: 20px;
  }
  #nav_c{
      margin-right: 30px;
  }

  #nav_link{
    display: flex;
 
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }
  #nav_link > a {
    font-family: 'Montserrat Alternates',sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #142d33;
    text-decoration: none;
    margin: 5px;
    font-size: small;
    display: flex;
    align-items: center;

  }
}



/*general */
body{
    background-color:#a3d1db ;
    margin: 0; /* so header fills pages */
    background-image: url("Icons & elements/background_icons.png");
    background-repeat: repeat;


  h1{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #142d33;
    font-size: 50px;
  }
  h2,h3,h4,h5,p{
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: 600;
      font-style: normal;
      color: #142d33;
  }

  /* larger linked product container <a> */
  .prod {
    aspect-ratio: 11 / 16;
    width: 20%; 
    display: flex; 
    display: block;
    justify-content: center;
    align-items: center;
    border: #395e66 solid 5px;
    border-radius: 10px;
    margin: 2vw;
    flex-shrink: 0;
    text-decoration: none; 
    transition: transform 0.5s, border-color 0.5s, background-color 0.5s;
  }

  .prod_hp {
    aspect-ratio: 11 / 16;
    width: 20%; 
    display: flex; 
    display: block;
    justify-content: center;
    align-items: center;
    border: #395e66 solid 5px;
    border-radius: 10px;
    margin: 1vw;
    flex-shrink: 0;
    text-decoration: none; 
    transition: transform 0.5s, border-color 0.5s, background-color 0.5s;
  }
  /*image within contianer */
  .prod img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:5px;
    display: block;
  }
  .prod_hp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:5px;
    display: block;
  }
  /*labels underneath container*/
  .prod_lab, .prod_lab_n {
    background-color: #395e66;
    color: #9eadb1;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
    transition: transform 0.5s, border-color 0.5s, background-color 0.5s;
  }
  .prod_lab_n{
    font-size: 20px;
  }
  .prod:hover {
    border-color: #142d33;
    transform: scale(1.05);
    transition: 0.5s;
  }
  .prod:hover .prod_lab {
    background-color: #142d33;
    transition: 0.5s;
  }
  .prod:hover .prod_lab_n {
    background-color: #142d33;
    transition: 0.5s;
  }

  #border{
    border: #395e66 solid 15px;
  }

  /*scroll bar*/
  .scroll::-webkit-scrollbar{
    height: 10px;
  }

  .scroll::-webkit-scrollbar-track {
    background: #64838a;
    border-radius: 10px; 
  }
  .scroll::-webkit-scrollbar-thumb {
    background: #395e66; 
    border-radius: 10px;
  }


  .scroll_button{
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
  }
  .scroll_button img{
    width: 15px;
    height: auto;
  }
  .scroll_vp{
    overflow: hidden;
    width: 80vw;
  }
  #scroll_cont1{
    display: flex;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 2vw;
    padding: 1vw 0;
    margin-bottom: 7vw;
  }

  #border_light_H{
    border: #395e66 solid 0.25vw;
    width: 50vw;
    justify-self: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }


  #prod_list4x1{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

  button{
    background-color: #142d33;
    color: #9eadb1;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    margin: 1vw;
  }
  button:focus, button:hover {
    outline: none;
    border-color: #395e66;
    background-color: #142d33;
    box-shadow: 0 0 0 3px #395e6679;
    transition: 0.5s;
   }

  #sort{
    display: flex;
    align-items: center;
  }

  #sort_by_button{
    background-color: #395e66;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    padding-left: 10px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #9eadb1;
    font-size: 20px;
  }

  
  input{
    background-color: #9eadb1;
    border: none;
    border-radius: 10px;
    margin-top: 0.2em;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 15px;
  }

  label{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #142d33;
    margin-left: 20px;
  }

  #form_group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
  }
  input:focus, input:hover {
    outline: none;
    border-color: #395e66;
    background-color: #9eadb1;
    box-shadow: 0 0 0 3px #395e6679;
    transition: 0.5s;
   }
}


#homepage{

  /*first section */
  #hp_first{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #hp_first > img{
    border: #395e66 solid 5px;
    border-radius: 10px;
    margin: 4vw;
    width: 20%;
    height: auto; 
  }

  #hp_first > #hp_im1{
    margin-top: 10vw;
  }
  #hp_first > #hp_im3{
    margin-top: 15vw;
  }

  #new_print{
    margin-left: 25vw;
    font-size: 40px;
  }
  #new_funky{
    margin-left: 53vw;
    margin-bottom: 3vw;
    font-size: 40px;
  }
  /*second section */
  #L_I_T, #T_S{
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
  }

 #LIT_items{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px;

 }
 #TS_items{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px;

 }

 #T_S,#L_I_T{
  margin-top: 7vw;
 }

 #hp_cat_link{
  display: flex;
  justify-content: space-around;
  margin-bottom: 7vw;
 }

#category_hp{
  aspect-ratio: 1 / 1;
  width: 28%; 
  display: flex; 
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1vw;
  flex-shrink: 0;
  text-decoration: none; 
}
#category_hp img {
  border: #395e66 solid 5px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:5px;
  display: block;
}
#box_link:hover{
  border-color: #142d33;
  transform: scale(1.05);
  transition: 0.5s;
}

}


#profilePage{
text-align: center;
  
  #page_title{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
  }
  input{
    width: 40vw;
    height: 3vw;
    color: #142d33;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 10px;
  }
  input::placeholder{
    color: #142d33;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 10px;
  }

  #FP,#CA {
    text-decoration: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #142d33;
    padding: 1vw;
  }

  #profile_form{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
}

#cartPage{

  h1, h2{
    text-align: center;
  }
  h2{
    font-size: 40px;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }

  #checkout_NA{
    background-color: #64838a;
    display: block; 
    margin: 0 auto; 
    margin-bottom: 3vw;
    margin-top: 3vw;
  }

  #most_bought{
    font-size: 30px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
}

#mens_swimwear{
  h1{
    text-align: center;
  }
  h3{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }

}

#checkout_page{
  h1{
    text-align: center;
  }

  h2{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    text-align: center;
  }

  #detail_layout{
    display: flex;
    justify-content: space-evenly;
  }

  #border_vert{
    border: #395e66 solid 0.25vw;
    height: 250px;
    justify-self: center;
    margin-top: 7vw;
    margin-bottom: 1vw;
  }

  #card_num, #card_name, #email_deets, #number_deets, #address{
    width: 500px;
    height: 40px;
  }

  #card_ex, #card_cvc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
  }

  #sub_input_row{
    display: flex;
    gap: 101px;

  }
  #sub_input{
    display: flex;
    flex-direction: column;
  }
  
  #pay_button{
    display: flex;
    justify-self: center;
    margin-top: 2vw;
    text-decoration: none;
  }
}

#confirmation_page{
  text-align: center;

  h1,h2,p{
    margin: 50px;
  }
}