@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800&display=swap');
/* fonts used 
.montserrat-alternates-extralight {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .montserrat-alternates-light {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .montserrat-alternates-extrabold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  */
/* colors palette
grey #9eadb1
greenish-grey #64838a
base blue #a3d1db
green/blue #395e66
dark green/blue #142d33
*/

header {

  #title_desktop {
    font-family: Arial, sans-serif;
    font-weight: 800;
    text-align: left;
    text-decoration: none;
    font-size: 2vw;
  }

  #nav_link>a {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    font-size: 0.9vw;
  }

  @media (max-width:850px) {
    #title_mobile {
      font-family: Arial, sans-serif;
      font-weight: 800;
      text-align: left;
      text-decoration: none;
      font-size: 5vw;
    }

    #side_panel {
      a {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 800;
        font-style: normal;
        text-decoration: none;
        font-size: 3vw;
      }
    }

  }

}

body {
  h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 4vw;
  }

  h2,
  h3,
  h4,
  h5,
  p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2vw;
  }

  .prod_lab,
  .prod_lab_n,
  .prod_cat {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 1.1vw;
  }

  .prod_lab_n {
    font-size: 1.5vw;
  }

  .prod_cat {
    font-size: 0.8vw;
  }

  .primary_button {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2vw;

  }

  select {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.4vw;
  }

  label {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 1.5vw;
  }

  @media (max-width:850px) {
    #page_title {
      font-size: 6vw;
    }

    .prod {
      .prod_lab_n {
        font-size: 4vw;
      }

      .prod_cat {
        font-size: 2vw;
      }

      .prod_lab {
        font-size: 3vw;
      }
    }
  }
}

#homepage {
  #new_print {
    font-size: 4vw;
  }

  #new_funky {
    font-size: 4vw;
  }

  #L_I_T,
  #T_S {
    font-size: 4vw;
  }

  @media (max-width:850px) {
    .prod_hp {
      .prod_lab_n {
        font-size: 4vw;
      }

      .prod_cat {
        font-size: 2vw;
      }

      .prod_lab {
        font-size: 3vw;
      }
    }
  }

}

#profilePage {

  #page_title {
    font-size: 4.5vw;
    font-family: Arial, Helvetica, sans-serif;
  }

  input {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



  #FP,
  #CA {
    text-decoration: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  @media (max-width:850px) {

    #page_title {
      font-size: 8vw;
    }

    h1 {
      font-size: 5vw;
    }

    label {
      font-size: 3.5vw;
    }

    input {
      font-size: 3vw;
    }

    input::placeholder {
      font-size: 3vw;
    }

    button {
      font-size: 4vw;
    }
  }
}

#cartPage {
  h2 {
    font-size: 2.5vw;
  }

  #checkout_NA,
  #checkout_ok {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2vw;
    text-decoration: none;
  }

  #most_bought {
    font-size: 1.8vw;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  h3 {
    font-size: 2vw;
  }

  .cart_row {
    input {
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 1.5vw;
    }
  }

  #final_cost {
    h3 {
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  }

  @media (max-width:850px) {
    #subheadings {
      h3 {
        font-size: 3vw;
      }

    }

    #most_bought {
      font-size: 5vw;
    }



    #final_cost,
    #postage {
      h3 {
        font-size: 3vw;
      }
    }

    #checkout_buttons {
      button {
        font-size: 4vw;
      }
    }

    .cart_row {
      select {
        font-size: 2.5vw;
      }

      input {
        font-size: 2.5vw;
      }

      p {
        font-size: 3vw;
      }
    }
  }
}

#prod_listing_page {
  h3 {
    font-size: 1.5vw;
  }

  @media (max-width:850px) {
    h3 {
      font-size: 3vw;
    }


  }
}

#checkout_page {
  h2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5vw;
  }

  @media (max-width:850px) {

    #card_num,
    #card_name,
    #email_deets,
    #number_deets,
    #address,
    #card_ex,
    #card_cvc {
      font-size: 3vw;
    }

    h2 {
      font-size: 5vw;
    }

    button {
      font-size: 3vw;
    }
  }
}

.prod_pages {

  #below_prod {
    #add_to_cart_disabled {
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 2vw;
    }

    h3 {
      font-size: 1.3vw;
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

  }

  #review_section {
    .review_name {
      font-size: 1.8vw;
    }

    .review_text {
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.5vw;
    }

  }

  .may_also_like {
    h2 {
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 800;
      font-style: normal;
    }
  }
  label{
    font-size: 1.5vw;
  }

  @media (max-width:850px) {
    label{
      font-size: 3vw;
    }
    #product_name {
      font-size: 5vw;
    }

    #product_price {
      font-size: 4vw;
    }

    #below_prod {
      justify-content: space-between;

      #add_to_cart_disabled,
      #add_to_cart {
        font-size: 3vw;
      }

      select{
        font-size: 1.7vw;
      }
    }

    #prod_text {
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    #review_section {

      .review_name {
        font-size: 3vw;
      }

      .review_text {
        font-size: 2.4vw;
      }
    }

    .may_also_like {
      h2 {
        font-size: 3.5vw;
      }


    }
  }
  @media (min-width:851px){
    #above_prod{
      h1{
        font-size: 6vw;
      }
      h2{
        font-size: 2vw;
      }
    }
  }
}

#forgot_password {
  #profile_email::placeholder {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @media (max-width:850px) {
    h2 {
      font-size: 4vw;
    }

    input {
      font-size: 3.5vw;
    }

    input::placeholder {
      font-size: 3.5vw;
    }

    button {
      font-size: 4vw;
    }
  }

}

#create_account {
  @media (max-width:850px) {
    h2 {
      font-size: 4vw;
    }

    input::placeholder {
      font-size: 3.5vw;
    }

    button {
      font-size: 4vw;
    }

  }
}

#confirmation_page {
  p {
    font-size: 1.5vw;
  }

  @media (max-width:850px) {
    h1 {
      font-size: 10vw;
    }

    h2 {
      font-size: 5vw;
    }

    p {
      font-size: 4vw;
    }

    button {
      font-size: 4vw;
    }

    h3 {
      font-size: 5vw;
    }

  }
}